{% load static %}
<div class="overlay edit-overlay">
  <div class="popup">
    <!-- Верхняя панель -->
    <div class="popup-header">
      <img
        src="{% static 'frontend/images/logo.svg' %}"
        alt="Logo"
        class="logo"
      />
      <button class="close-btn" type="button" id="btn-close">×</button>
    </div>

    <!-- Фото -->
    <div class="photo-placeholder" id="popup-avatar">
    </div>

    <!-- Форма -->
    <form class="form">
      <div class="input-group">
        <input type="text" placeholder="Логин" id="edit-name" />
        <img
          src="{% static 'frontend/images/pencil.svg' %}"
          alt="Edit"
          class="icon"
        />
      </div>


      <div class="input-group">
        <input type="password" placeholder="Пароль" id="edit-password" />
        <img
          src="{% static 'frontend/images/pencil.svg' %}"
          alt="Edit"
          class="icon"
        />
      </div>

      <div class="input-group">
        <input type="password" placeholder="Повторите пароль" id="edit-password-repeat" />
        <img
          src="{% static 'frontend/images/pencil.svg' %}"
          alt="Edit"
          class="icon"
        />
      </div>

      <button type="submit" class="btn-save">Сохранить</button>
    </form>
     <script src="{% static 'frontend/js/popup_edit.js' %}"></script>
  </div>
</div>