{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Планы на сегодня</title>

    <link rel="stylesheet" href="{% static 'frontend/css/todo.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Marmelad&family=Roboto:wght@400;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Левое меню -->
    <!-- Левое меню -->
    <div class="sidebar">
      <img
        src="{% static 'frontend/images/logobig.svg' %}"
        alt="Logo"
        class="logo"
      />

      <div class="menu">
        <a href="{% url 'profile' %}">
          <img
            src="{% static 'frontend/images/home.svg' %}"
            alt="Home"
            class="menu-icon"
          />
        </a>

        <a href="{% url 'calendar' %}">
          <img
            src="{% static 'frontend/images/calendar.svg' %}"
            alt="Calendar"
            class="menu-icon"
          />
        </a>

        <h2 class="sidebar-title">Твои дела</h2>

        <a href="{% url 'mood' %}">
          <img
            src="{% static 'frontend/images/mood.svg' %}"
            alt="Mood"
            class="menu-icon"
          />
        </a>
      </div>

      <!-- кот под меню -->
      <img
        src="{% static 'frontend/images/cattodo.svg' %}"
        alt="Cat ToDo"
        class="menu-cat"
      />
    </div>

    <!-- Основной контент -->
    <div class="main-content">
      <h1 class="page-title">Дела на сегодня</h1>

      <div class="date-row">
        <div class="day-box">Пятница</div>
        <div class="date-box">18.10</div>
      </div>

      <div class="todo-section">
        <div class="todo-outer">
          <div class="todo-inner">
            <ul id="todo-list"></ul>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <p>© 2025 To-Do Mood Tracker</p>
    </footer>

    <script src="{% static 'frontend/js/todo.js' %}"></script>
  </body>
</html>
